Builder* @VictorHuu
Chain* @AbigailJixiangyuyu
Decorator*  @jwa2003
Flyweight* @jwa2003
Facade*  @Funny0101
Strategy* @Funny0101
Command* @Funny0101
Mediator* @Cryamor
*.ppt @Cryamor
*.pptx @Cryamor
Observer* @singularitycjr
State* @M2030123
Interpreter* @M2030123 @AbigailJixiangyuyu
Class*  @AbigailJixiangyuyu
Visitor* @Yontine
Prototype* @Yontine
Factory*  @PeachOolongttea
Iterator* @PeachOolongttea
Fluent* @PeachOolongttea
