Builder* @VictorHuu
Chain* @AbigailJixiangyuyu
Decorator* Flyweight* @jwa2003
Facade* Strategy* @Funny0101
Mediator* @Cryamor
Observer* @singularitycjr
State* @M2030123
Visitor* Prototype* @Yontine
Factory* Iterator* @PeachOolongttea
